.root{
  height: max-content;
  margin: 0 auto 0;
  padding: 50px 0 30px;
  background-color: var(--light-gray-color)!important;
}
.registerCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 33px 36px 25px;
  margin: 20px;
}

.h1 {
  text-align: center;
}

.underlineLinkWrapper {
  position: relative;
  text-align: center
}

.underlineLink {
  position: relative;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: var(--color-primary-500);
  text-decoration: none;
}

