.wrapperCard {
background: var(--light-gray-color);
}

.intoAuthCard {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 33px 0 25px;
  width: 60%;
  margin: 0 auto;
  height: max-content;
}

.h1 {
  margin: 75px 0 25px !important;
}

.link {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 60px;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  &:focus-visible{
    color: var(--primary-color);
  }
  &:hover{
    color: var(--header-link-color);
  }
}

.underlineLinkWrapper {
  position: relative;
  text-align: center
}

.alreadyHaveAccount {
  justify-content: center;
  width: fit-content;
  margin-bottom: 7px;
  color: var(--color-light-900);
}

.ul {
  margin-bottom: 60px;
}

.li {
  margin-bottom: 20px;
}

.li:not(:last-child) {
  background: red;
}
