.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}














.flexWrap{
  display: flex;
  justify-content: space-between;
}

.advert{
  padding: 4% 0.5%;

}


























