.itemFilter{
  border: 1px solid var(--light-gray-color)!important;
}
.circleBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid var(--gray-color)!important;
}

